*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {    
    margin: 0;
    padding: 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background: #0097a7;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}


main, header, section, aside, footer {    
    display: block;
    margin: 0;
    padding: 0rem;
    /*border: 1px solid #ffffff;*/
    color: #ffffff;
    background: #0097a7;
}

header, section, aside, footer {    

    padding: 1.25rem;

}

main {
    background: #ffffff;
}

.header {
    background: #ffffff
    display: inline-block;
}


.hero {
    background: #909fff;
    /*#0097a7;*/
    display: inline-block;
}

@media screen and     
(min-width: 640px)

{

.flex-container {
    display: flex;
}    
}

.content {
    flex: 1;
    background: #38761dff;
    /*#558740;*/
    /*#6aa84f;*/
}

.sidebar {
    flex: 0 1 300px;
    /*border: 1px solid #ffffff;*/
    background: #674ea7;
}

.footer {
    /*border: 1px solid #ffffff;*/
    background: #909fff;
    /*#616161;*/
}


a:link, a:visited { 
  color: #ffe3b5;
  text-decoration: underline;
  /*cursor: pointer;*/
}

ul.pub {
	margin: 0;
}

li.pub {
	margin: .5em 0;
}